<nav class="navbar bg-base-200 shadow-sm">
  <div class="flex-1">
    <h1 class="text-xl">Juandavyc</h1>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 gap-3">
      @for (navbarRoute of navbarRoutes; track $index) {
      <li>
        @if(navbarRoute.title == 'Home'){
        <a [routerLink]="[navbarRoute.path]" routerLinkActive="bg-accent"
          [routerLinkActiveOptions]="{ exact: true }">{{navbarRoute.title}}</a>
        }
        @else{
        <a [routerLink]="[navbarRoute.path]" routerLinkActive="bg-accent">{{navbarRoute.title}}</a>
        }
      </li>
      }
      <li>
        <input
          type="checkbox"
          class="toggle theme-controller my-auto"
          [checked]="currentTheme() == true"
          (change)="toggleTheme(checkboxTheme.checked)"
          #checkboxTheme>
      </li>
    </ul>
  </div>
</nav>
